.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.form-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.text-alert{
    font-size:10px
}